.root {
    -fx-background-color: radial-gradient(center 50% 100%, radius 125%, #202426, #000000);
    /*-fx-background-color:  linear-gradient(rgba(80,110,99,1) 0%, rgba(46,69,68,1) 100%);*/
}


.label, .button, .toggle-button {
    -fx-text-fill: white;
    -fx-font-family: VT323;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-background-radius: 0px
}

.button, .toggle-button{
    -fx-text-fill: black;
    -fx-background-radius: 90px;
    -fx-background-size: 40%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #00000000;
    -fx-animated: false;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, #000000, 1, 0.99, 0, 0);
}

.toggle-button:selected {
    -fx-background-color: #5DC9D4;
}

.track {
    -fx-background-color: #00000000;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 45px;
}

.thumb {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-color: #5DC9D4FF;
    -fx-border-radius: 90px;
}

#panel {
    -fx-background-radius: 9px;
    -fx-border-radius: 9px;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-background-color: rgba(255, 255, 255,1);
    -fx-animated: false;
    -fx-border-width: 3px 0px 0px 0px;
    -fx-border-color: white;
}

#label_title {
    -fx-background-color: #d2d2d2;
    -fx-text-fill: #202426;
    -fx-font-size: 120px;
}

#statsLabel {
    -fx-text-fill: #000000;
    -fx-font-size: 24px;
    -fx-alignment: center-left;
}

#statsTitle {
    -fx-text-fill: #000000;
    -fx-font-size: 33px;
    -fx-alignment: center;
}

#statsTime {
    -fx-text-fill: #797979;
    -fx-font-size: 24px;
    -fx-alignment: center;
}

#effects {
    -fx-effect: innershadow(gaussian,red,10,10,0,0);
}

#playButton:selected {
    -fx-background-image: url("buttons/pause.png");
}

#homeButton {
    -fx-background-image: url("buttons/residency.png");
}

#industryButton {
    -fx-background-image: url("buttons/factory.png");
}

#shoppingButton {
    -fx-background-image: url("buttons/commerce.png");
}

#roadButton {
    -fx-background-image: url("buttons/road.png");
}

#bulldozerButton {
    -fx-background-image: url("buttons/bulldozer.png");
}

#selectButton {
    -fx-background-image: url("buttons/select.png");
}

#playButton {
    -fx-background-image: url("buttons/play.png");
}

#nukeButton {
    -fx-background-image: url("buttons/bomb.png");
}

#soundButton {
    -fx-background-image: url("buttons/sound.png");
}

#treeButton {
    -fx-background-image: url("buttons/tree.png");
}